NAME : RAHUL KUMAR | Reg .no: 22-27-03  |  Branch : Data science | Department : SoCE&**Ds**

In [ ]:
# question 01 / code 
#NAME : RAHUL KUMAR | Reg .no: 22-27-03  |  Branch : Data science | Department : SoCs&Ds
n=int(input("enter the no of element in list"))
list1=[]
for i in range (n):
   list1.append(int(input()))
print(list1)

list2= list1[::-1]
#list2= list1.reverse()
print(list2)
list3=[]

for j in range (0 ,len(list1)):
   list3.append(list1[j]*list2[j])
                

print("dot product of list and its reverse = \n" , list3)

enter the no of element in list5
1
3
5
3
6
[1, 3, 5, 3, 6]
[6, 3, 5, 3, 1]
dot product of list and its reverse =
 [6, 9, 25, 9, 6]

In [ ]:
# question 02 / code 
#NAME : RAHUL KUMAR | Reg .no: 22-27-03  |  Branch : Data science | Department : SoCs&Ds
n=int(input("enter the no of element in list"))
list1=[]
for i in range (n):
   list1.append(int(input()))
print("list before sortig " ,list1)
#sorting the list
list1.sort()
#printing sorted list
print("list after sortig " ,list1)
print("second minimum = " , list1[1] )
print("second maximum =" , list1[n-2])

enter the no of element in list5
85
12
2
36
8
list before sortig  [85, 12, 2, 36, 8]
list after sortig  [2, 8, 12, 36, 85]
second minimum =  8
second maximum = 36

In [ ]:
# question 03 / code 
#NAME : RAHUL KUMAR | Reg .no: 22-27-03  |  Branch : Data science | Department : SoCs&Ds
n=int(input("enter the no of element in list"))
list1=[]
for i in range (n):
   list1.append(int(input()))
print("input list",list1)
list2=[]
for item in list1:
  if(item%5!=0):
    list2.append(item)
# list after removing multiple of 5 
print("updated list" ,list2)

enter the no of element in list5
15
23
96
56
55
input list [15, 23, 96, 56, 55]
updated list [23, 96, 56]

In [ ]:
# question 04 / code 
#NAME : RAHUL KUMAR | Reg .no: 22-27-03  |  Branch : Data science | Department : SoCs&Ds
print("give binary input 0's or 1's")
n=int(input("enter the no of element in list"))
list1=[]
for i in range (n):
   list1.append(int(input()))
if ((list1.count(0) or list1.count(1)) == 1 ):
  print("yes")
else:
  print("no")

give binary input 0's or 1's
enter the no of element in list5
0
1
0
1
1
no

In [ ]:
# question 05 / code 
#NAME : RAHUL KUMAR | Reg .no: 22-27-03  |  Branch : Data science | Department : SoCs&Ds
num=int(input("enter the no of element to find  factorial "))
def factorial(n):
  if (n==1 or n==0):
    return 1
  else:
    return (n*factorial(n-1))

result= factorial(num)
print(f"factorial {num}! =" , result)

enter the no of element to find  factorial 5
factorial 5! = 120

In [ ]:
# question 06 / code 
#NAME : RAHUL KUMAR | Reg .no: 22-27-03  |  Branch : Data science | Department : SoCs&Ds
print("enter range of two number  N and M")
n=int(input())
m=int(input())
list1=[]
for i in range (n , m+1):
  if (i%2==0):
    list1.append(i)
print(list1)

enter range of two number  N and M
56
89
[56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88]